/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}

/*////////// Global Styles //////////*/

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

h1 {
	font-family: "Baskerville", serif;
	font-size: 5em;
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-weight: normal;
	color: rgba(152, 173, 166, 1);
	border-bottom: 1px solid #ccc

}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
}

p  {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
}

.small {
	font-size: 0.8em;
}

/* Write all remaining styles here */

/*Section style*/

#featured img {
	border: 5px rgb(152,173,166) solid;
}

#featured a{
	color: #1783bb
	border: 0;
	/* text-decoration: none; */
}

.press img{
	border: 5px rgb(204,204,204) solid;
}

.press img:hover{
	border: 5px rgb(115,125,122) solid;
}



#small {
	float: right;
}
